body {
    background-image: url('img/pexels-pixabay-258395.jpg');
    /* Fotoğrafın dosya yolunu belirtin */
    background-size: cover;
    /* Fotoğrafın sayfa boyutuna göre ölçeklenmesini sağlar */
    background-repeat: no-repeat;
    /* Tekrarlanmasını engeller */
    background-attachment: fixed;
    /* Fotoğrafın kaydırılırken sabit kalmasını sağlar */
}

.arrowozellik {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 28px;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(36, 33, 33);
}

::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border: 3px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}